{% args args %}
{% include 'base_header.html' %}
{% include 'actions.html' %}
<!-- configure_wifi.html -->
<div class="column middle-right content">
    <table style="overflow-x:auto;">
    <tr>
        <td>Application</td>
        <td>{{ args['app_name'] }}</td>
    </tr>
    <tr>
        <td>Wi-Fi network</td>
        <td>{{ args['wifi'] }}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{ args['ifconfig'][0] }}</td>
    </tr>
    <tr></tr>
{% set i = 0 %}
{% for ssid in args['ssids'] %}
    {% set i = i+1 %}
<form action="/remove_ssid" method="post">
    <input type="hidden" name="ssid" value="{{ ssid  }}">
    <tr>
        <td>{% if i==1 %}SSIDs{% endif %}</td>
        <td colspan="3">{{ ssid }}</td>
        <td align="right"> <input type="submit" name="action" value="Delete"></td>
    </tr>
</form>
{% endfor %}
<form action="/save_config" method="post">
    <tr>
        <td colspan="4">Save configuration</td>
        <td align="right"> <input type="submit" name="action" value="Save"></td>
    </tr>
</form>
<form action="/add_ssid" method="post">
    <tr>
        <td>Network</td>
        <td colspan="2">SSID <input type="text" name="ssid"/></td>
        <td align="right">Password <input type="password" name="password"/></td>
        <td align="right"><input type="submit" name="action" value="Add" /></td>
    </tr>
</form>
{% set i = 0 %}
{% set waps = args['waps'] %}
{% for wap in waps %}
    {% set i = i+1 %}
    {% set ssid = wap[0] %}
<form action="/add_ssid" method="post">
    <input type="hidden" name="ssid" value="{{ ssid  }}">
    <tr>
        <td>{% if i==1 %}Visible networks{% endif %}</td>
        <td>{{ ssid }}</td>
        <td>{{ wap[1] }}dB</td>
        <td align="right">Password <input type="password" name="password"/></td>
        <td align="right"><input type="submit" name="action" value="Add" /></td>
    </tr>
</form>
{% endfor %}
    </table>
</div>
{% include 'base_footer.html' %}