{% args args %}
{% include 'base_header.html' %}
{% include 'actions.html' %}
<!-- configure_wifi.html -->
<div class="column middle-right content">
    <table style="overflow-x:auto;">
    <tr>
        <td>Application</td>
        <td>{{ args['app_name'] }}</td>
    </tr>
    <tr>
        <td>Connected</td>
        <td colspan="2">{{ args['wifi'] }}</td>
        <td>{{ args['ifconfig'][0] }}</td>
    </tr>
    <tr style="height:10px"></tr>
{% set i = 0 %}
{% for credentials in args['ssids'] %}
    {% set ssid = credentials[1] %}
<form action="/remove_ssid" method="post">
    <input type="hidden" name="ssid_index" value="{{ i }}">
    <tr>
        <td>{% if i==0 %}SSIDs{% endif %}</td>
        <td colspan="3">{{ ssid }}</td>
        <td align="right"> <input type="submit" name="action" value="Remove"></td>
    </tr>
</form>
    {% set i = i+1 %}
{% endfor %}
<form action="/update_config" method="post">
    <tr>
        <td colspan="4"></td>
        <td align="right"> <input type="submit" name="action" value="Reload"> <input type="submit" name="action" value="Save"></td>
    </tr>
</form>
    <tr style="height:10px"></tr>
<form action="/add_ssid" method="post">
    <tr>
        <td>Network</td>
        <td colspan="2"><input type="text" placeholder="<SSID>" name="ssid"/></td>
        <td align="right"><input type="password" placeholder="<password>" name="password"/></td>
        <td align="right"><input type="submit" name="action" value="Add" /></td>
    </tr>
</form>
{% set i = 0 %}
{% set waps = args['waps'] %}
{% for wap in waps %}
    {% set i = i+1 %}
    {% set ssid = wap[0] %}
<form action="/add_ssid" method="post">
    <input type="hidden" name="ssid" value="{{ ssid  }}">
    <tr>
        <td>{% if i==1 %}Visible{% endif %}</td>
        <td>{{ ssid }}</td>
        <td>{{ wap[1] }}dB</td>
        <td align="right">Password <input type="password" placeholder="<password>" name="password"/></td>
        <td align="right"><input type="submit" name="action" value="Add" /></td>
    </tr>
</form>
{% endfor %}
    </table>
</div>
{% include 'base_footer.html' %}